.header-title h1 {
  font-size: 36px;
  letter-spacing: 10px;
  font-style: italic;
  text-align: center;
}

.header-title h2 {
  font-size: 38px;
  letter-spacing: 10px;
  text-align: center;
}

.header-title .yellow-title {
  color: #c8d600;
  letter-spacing: 2px;
}

.hashtag {
  font-size: 60px;
  position: relative;
  top: 15px;
  margin-right: 8px;
}

.header-title button:focus {
  box-shadow: none;
  border: none;
}
