.imageManager {
  height: 260px;
  width: 250px;
  border-radius: 0;
}
.affichage {
  background-color: #131b23;
  width: 250px;
  border-radius: 0;
  font-family: "Bebas Neue", cursive;
}

.cardElement {
  height: 350px;
  width: 250px;
  text-align: center;
  border: none;
  border-left: solid 9px #c8d600;
  border-radius: 0;
}

.text-card {
  line-height: 0.7;
  padding-top: 5px;
}

.staff-pseudo {
  width: 290px;
  text-align: center;
}
.staff-pseudo p {
  font-size: 15px;
  line-height: 1;
  font-family: "Bebas Neue", cursive;
  color: #c8d600;
}
