        // li .is-current>a>svg {
//     color: greenyellow;
// }
.is-current {
    color: greenyellow;
    svg[Attributes Style] {}
    svg[Attributes Style] {
        ul {
            list-style: none;
        }
        svg {
            size: 50px;
        }