.navbarcustom {
  background-color: #06141e;
  border-bottom: solid 6px #c8d600;
  font-family: "Bebas Neue", cursive;
}

.navbarcustom .logo-rond {
  height: 30px;
  padding-right: 10px;
  margin-top: -3px;
}

.navbarcustom .logo-evo {
  height: 35px;
  margin-top: -20px;
}

.navbarcustom a {
  padding-top: 0;
}

.white {
  color: white !important;
}

.navbarcustom a {
  color: #ffffff !important;
  margin-top: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #06141e;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item:hover {
  background-color: #06141e;
  transform: none;
}

.navlink {
  margin-top: 5px;
}
