.navbarcustom {
  background-color: #131b23;
  border-bottom: solid 6px #c8d600;
  font-family: "Bebas Neue", cursive;
}

.navbarcustom .logo-rond {
  height: 30px;
  padding-right: 10px;
  margin-top: -3px;
}

.navbarcustom .logo-evo {
  height: 35px;
  margin-top: -20px;
}

.navbarcustom a {
  padding-top: 0;
}

.white {
  color: white !important;
}
.white:focus,
.white:hover {
  color: #c8d600 !important;
  text-decoration: none;
}

.navbarcustom a {
  color: #ffffff !important;
  margin-top: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #131b23;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item:hover {
  background-color: #131b23;
  transform: none;
}

.navlink {
  margin: 5px 5px 0 5px;
}

.navlink {
  margin-top: 5px;
}

.drop-btn {
  background-color: #131b23;
  color: white;
  border: none;
  padding: 5px;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: #131b23;
  z-index: 1;
}

.drop-down-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0px 14px;
}

.drop-down:hover .drop-down-content {
  display: block;
}

.drop-btn:hover {
  text-decoration: none;
  color: white;
}

.drop-btn:focus {
  box-shadow: none;
  text-decoration: none;
  color: white;
}
