.sideBar {
  position: fixed;
  height: 100vh;
  width: 5vh;
  top: 0;
  right: 0;
  padding-top: 45vh;
  padding-right: 10vh;
}
.sideBar div {
  width: 5vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.sideBar a {
  width: 5vh;
  text-align: center;
}

.test0 {
  background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2F2018GA-aAa-L10.jpg?alt=media&token=69b85bc3-2346-49fd-9c24-a5cba47ca7b5");
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  width: 60vh;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  top: -2vh;
  background-size: 200%;
  position: fixed;
  z-index: -100;
  right: 61vh;
}

.test1 {
  background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2FAAA-EOS2019-12.jpg?alt=media&token=1a75e6a8-086b-440c-8e9e-7b75522f455f");
  -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  width: 60vh;
  height: 60vh;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  top: -2vh;
  position: fixed;
  z-index: -100;
  right: 30vh;
}
.test2 {
  background: url("https://firebasestorage.googleapis.com/v0/b/projet-teamevo.appspot.com/o/HomeImage%2FAAA-GA2019-41.jpg?alt=media&token=41b372f0-e91d-4ac9-8faf-d2d07e986528");
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  width: 60vh;
  height: 60vh;
  top: 59vh;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -100;
  right: 30vh;
}
.section1 {
  margin-bottom: 70vh;
}
.section {
  position: relative;
  margin: 50px;
  padding-top: 10vh;
}
.paragraph {
  text-align: justify;
}

.title {
  border-bottom: solid 6px #c8d600;
  margin-right: 6vh;
}
