.yellowBox1 {
  background-color: #c8d600;
  width: 10px;
  height: 30px;
  padding-top: 0;
  margin-right: 4px;
  margin-top: 6px;
}
.yellowBox2 {
  background-color: #c8d600;
  width: 10px;
  height: 20px;
  padding-top: 15px;
  margin-right: 4px;
  margin-top: 5px;
}

.text-content {
  background-color: #131b23;
  text-align: justify;
}

.element1 {
  padding-top: 30px;
}
.element3 {
  padding-top: 30px;
}

.yellowBox3 {
  background-color: #c8d600;
  width: 10px;
  height: 23px;
  padding-top: 15px;
  margin-top: 6px;
  margin-right: 3px;
}

.element1,
.element2 {
  font-family: "Bebas Neue", cursive;
}

.little-title {
  font-size: 20px;
  position: relative;
  top: 10px;
  margin-right: 8px;
  color: #ebebeb;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 10px;
  text-align: center;
  font-family: "KoratakiW01-Book";
}

.little-title .yellow-title {
  color: #c8d600;
  letter-spacing: 2px;
  font-family: "KoratakiW01-Book";
  font-size: 20px;
}

.last-title {
  padding-bottom: 40px;
}

.hashtag2 {
  font-size: 30px;
  position: relative;
  top: 5px;
}
